<nav class="navbar navbar-expand-sm navbar-dark bg-primary">  
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="[ '/' ]">برنامج تقرير الاعطال</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="[ '/' ]">الرئيسية</a>
        </li>
        <!-- [ngClass]="{'d-none': this.isAuth}" -->
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link text-white" [routerLink]="[ '/login' ]">تسجيل دخول</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{authService.currentUser.name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item d-col border-bottom" [routerLink]="[ '/user/' + authService.currentUser.id]">
              <span class="d-flex"><strong>رقم المستخدم:</strong></span>
              <span id="military_id">{{authService.currentUser.military_id}}</span>
            </a>
            <!-- <li class="dropdown-item d-col border-bottom" title="section">
              <span class="d-flex"><strong>القسم:</strong></span>
              <span id="section">776</span>
            </li> -->
            <li class="dropdown-item d-col" href="#" (click)="authService.logout()">
                <span class="d-flex justify-content-around btn"><strong>تسجيل خروج</strong></span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <section>
  <nav class="border justify-content-center justify-content-evenly mx-auto my-3 nav nav-fill nav-pills rounded-pill w-75">
    <a class="nav-link rounded-pill" [routerLink]="[ 'equip-history' ]" routerLinkActive="active">تاريخ معدات القسم</a>
    <a class="nav-link rounded-pill" routerLinkActive="active">بحث عن معدة</a>
    <a class="nav-link rounded-pill" routerLinkActive="active">اضافة معدة</a>
  </nav>
</section> -->
<router-outlet></router-outlet> 
